In [103]:
import numpy as np
import pandas as pd
import re

# Book genre analysis, based on https://www.kaggle.com/sp1thas/book-depository-dataset/data 
# WIP

In [ ]:
ds = pd.read_csv('dataset/dataset.csv', usecols=['authors', 'bestsellers-rank', 'categories', 'description', 'for-ages', 'id', 'lang', 'rating-avg', 'rating-count', 'title'])

In [65]:
cat = pd.read_csv('dataset/categories.csv')

In [66]:
ds.head(5)
cat.head(5)

   category_id                                category_name
0         1998                             .Net Programming
1          176  20th Century & Contemporary Classical Music
2         3291  20th Century & Contemporary Classical Music
3         2659      20th Century History: C 1900  To C 2000
4         2661          21st Century History: From C 2000 -

In [205]:



def findBook(title, df):
    resDf = pd.DataFrame()
    for idx, i in df['title'].str.contains(title, case=False).iteritems():
        if i:
            genres = ""
            res = df['categories'][idx].strip('][').split(', ') 
            for c in res:
                genres += cat.loc[cat['category_id']==int(c)]['category_name'].values[0] + ", "
            resDf = resDf.append(pd.DataFrame([[df['title'][idx], genres]], columns=['title', 'genre']), ignore_index=True)
    return resDf

In [208]:
q = findBook('galaxy', ds)
q.head(100)

,title,genre
0,Star Wars: The Rise of Skywalker: The Galaxy N...,"Children's Fiction, Children's General Story B..."
1,Samsung Galaxy A80 User Manual : A Comprehensi...,"Digital Photography: Consumer/user Guides, Pho..."
2,The Vegan Soulfood Guide to the Galaxy : Your ...,"Vegetarian Cookery, National & Regional Cuisine,"
3,Nasty Galaxy,"Fashion & Textiles: Design, Memoirs, Microecon..."
4,Composition Notebook : Wide Ruled Space Galaxy...,"Graphic Novels, Anime & Manga, Graphic Novels,..."
...,...,...
95,Drax Vol. 1: The Galaxy's Best Detective,"Graphic Novels: Superheroes, Graphic Novels: S..."
96,Guardians Of The Galaxy & X-men: The Black Vortex,"Graphic Novels: Superheroes, Graphic Novels: S..."
97,All-new Guardians Of The Galaxy Vol. 2 : Rider...,"Graphic Novels: Superheroes, Graphic Novels: S..."
98,Guardians Of The Galaxy By Jim Valentino Volume 3,"Graphic Novels: Superheroes, Graphic Novels: S..."
99,Marvel Super Heroes Coloring Book : Super hero...,"Graphic Novels: Superheroes, Graphic Novels: S..."

In [213]:
for i in range(20):
    print(hash(i))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19